{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/recado">Recados</a>
				</li>
				<li class="">
					<a href="/vovo">Vovós</a>
				</li>

			</ul>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
            <a href="http://www.casimages.com.br/i/150311083135858361.jpg.html" target="_blank" title="hospedar imagens"><img src="http://nsae02.casimages.net/img/2015/03/11/150311083135858361.jpg" border="0" alt="hospedar imagem" /></a>

		</div>
		<div class="col-md-6 column">
			<h2>
				Vovós
			</h2>
			<p>
				Vovózinhas do Brasil. Recados especiais para vocês, que tem netos que moram longe mais gostaria de fazer uma homenagem para vocês.
                Apesar da distancia o Amor e grande.
			</p>
			<p>
				<a class="btn" href="/saibamais">Saiba Mais. »</a>
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="pagination">
				<li>
					<a href="#">Voltar</a>
				</li>
				<li>
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">Proximo</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}