{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Recados</a>
				</li>
				<li class="active">
					<a href="#">Vovós</a>
				</li>

			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h2>
                Vovós
			</h2>

		    <center><p >
				<i>Vovózinhas do Brasil.
                </i></center>
            </p>



		</div>
	</div>
</div>

{% endblock %}