{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h2>
                Projeto
			</h2>

		<center><p >
				<i>Como funciona o projeto?</i>
O netinho cadastra-se no site, cadastra o endereço da avozinha. Depois grava o recado editamos o vídeo. Enviamos uma equipe de campo para a cada da avozinha, e em conjunto enviamos uma equipe de gravação, desconfiadas com a tecnologia elas adoram, e  gravamos um recado de sua avozinha para o netinho. Enviamos uma cópia para o netinho e publicamos no nosso mural fazendo um link com Youtube para ser acessado de todo lugar.(Caso o netinho não queria a publicação respeitamos o direito e enviamos uma copia física para o netinho), para avozinha também enviamos uma copia para ela ver sempre que sentir saudade, caso não tenha como ver o vídeo,  fazemos um álbum  fotos com cena e a legenda embaixo para as avozinhas verem sempre que possível, também e possível realizar tanto a copia quanto o álbum de fotos.
<br>
           <i>Custo?</i>
Faça um orçamento conosco. Pois o preço pode variar de localidade, endereço, e custos com a produção.

			</p></center>
			<p>
			</p><img alt="140x140" src="http://4.bp.blogspot.com/-Pmfq8sq6f1A/Ti29BH5DbaI/AAAAAAAAAtA/ybA3LU9F35Y/s1600/Dia-da-Vov%25C3%25B3-26-de-Julho-Celebre-Este-Dia-Especial1.gif" />
		</div>
	</div>
</div>





{% endblock %}