{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Recados</a>
				</li>
				<li class="active">
					<a href="#">Vovós</a>
				</li>

			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h2>
                Saiba Mais
			</h2>

		    <center><p >
				<i>Vovózinhas do Brasil. Recados especiais dos seus netinhos, que moram longe e gostaria de fazer uma linda homenagem para as vovozinhas dos Brasil. Apesar da distancia o Amor e Grande por vocês.
                    Idéia surgiu quando  a idealizadora sentiu saudades de sua avó que morava longe em Espírito Santo mais de  976 kilometros de distancia de São José dos Campos,  e queria muito gravar uma mensagem para ela ver e se emocionar,  lembrar que é muito amada.
                </i></center>
            </p>



		</div>
	</div>
</div>

{% endblock %}